
.wrapper {
    widows: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.header-panel {
    
}

.header-panel h1{
    margin-top: 0;
    text-align: center;
    color: rgb(255, 0, 0);
    background: rgba(31, 31, 31, 0.82);
    font-size: 5em;
    letter-spacing: .2em;
    font-family: cursive;
    border: 2px solid #c4a412;
}

.header-panel h1:hover{
    text-align: center;
    color: rgb(255, 0, 0);
    background: rgba(31, 31, 31, 0.71);
    font-size: 5em;
    letter-spacing: .2em;
    font-family: cursive;
    border: 2px solid #ffd100;
}

.menu-panel-for-admin {
    text-align: center;
}

.m-a-button {
    width: 33%;
    margin-top: 3%;
    margin-bottom: 2%;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: rgba(0, 2, 2, 0.76);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 1.5em;
    font-weight: bold;
    /* padding: 12px 39px; */
    text-decoration: none;
    text-shadow: 0px 1px 6px #3d768a;
    
}

.mechanic-adding-panel {
/*    display: none;*/
}

.mechanic-adding-panel h2{
    font-family: serif; 
    font-size: 2em;
}

.mechanic-adding-panel h1{
/*    display: none;*/
}

.mechanic-adding-panel label{
    display: block;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 1.2%;
}

.mechanic-adding-panel input{
    border: 2px solid #5d0f0f;
    display: block;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: 700;
}

.user-admin-panel {
    display: none;
}



.mechanics {
    background: rgba(37, 35, 35, 0.68);
    width: 30%;
    float: left;
    border: 1px solid white;
    margin-left: 2.5%;
    margin-top: 2%;
    height: 187px;
}

.mechanics p{
    text-align: center;
    color: rgb(0, 253, 255);
    font-size: 1.1em;
    
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.mechanics p:hover{
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    
    
    transition: all 0.3s;
    transform: scale(1.02);
}

.mechanics input{ 
    width: 100%;
/*
    margin-left: 25%;
    margin-right: 25%;
*/
    text-align: center;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    padding: 7px 12px;
    text-shadow: -1px 1px 8px #2f6627;
    border: 0px solid #1ee632;
    border-radius: 31px;
    
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.1s;
}

.mechanics input:hover{ 
    border-radius: 31px;
    border: 1px solid #1ee632;
    background: rgba(29, 15, 5, 0.41);
    
    -moz-border-radius:31px;
	-webkit-border-radius:31px;
    transition: all 0.3s;
}

 

.mechanic-name-panel {
    display: inline-block;
    width: 100%;
}

.user-book-panel { 
    display: none;
    position: absolute;
    top: 8%;
    left: 35%; 
    background-color: rgba(6, 45, 38, 0.9);
    border: 5px solid #0bc7ce;
    width: 30%;
    /* margin-left: -150px; */
    /* margin-top: -240px; */
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 12px 0 15px -4px #000000, -12px 0 15px -4px#000000;
    -moz-box-shadow: 12px 0 15px -4px #000000, -12px 0 15px -4px#000000;
    -webkit-box-shadow: 12px 0 15px -4px #000000, -12px 0 15px -4px#000000;
    z-index: 1;
    
/*    ref : http://stackoverflow.com/questions/19086576/on-click-button-pop-up-div-should-be-center-to-screen*/
}

.user-book-panel h1 { 
    margin-top: 0;
    color: #fff;
    font-family: sans-serif;
}

.user-book-panel label{ 
    color: #dfeaea;
    display: block;
    font-family: cursive;
    font-size: 1em;
}

.user-book-panel input{ 
    color: #000; 
    font-family: cursive;
    font-size: 1em;
}

.user-button {
    display: block;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: rgba(0, 2, 2, 0.76);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    font-size: 1.5em;
    font-weight: bold;
    /* padding: 12px 39px; */
    text-decoration: none;
    text-shadow: 0px 1px 6px #3d768a;
}

.user-button:hover{
    background-color: #000000;
}

.user-close-button {  
     -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: rgba(0, 2, 2, 0.76);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    font-family: Georgia;
    display: ;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 6px #3d768a;
    margin-top: 0;
    position: absolute;
    margin-left: 40%;
    margin-top: 1%;
}

.menu-panel {
    text-align: center;
}

.menu-panel input{
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
}

.menu-panel a{
    
}

#search_result {
    text-align: center;
    margin-top: 1%;
    color: #fff;
    font-weight: 700;
}

.logout {
    
}

#userNameDiv {
    
}

.all-mechanic-name-admin {
    border-top: 2px solid black;
}

#mechanic_name_select {
    font-size: 1.6em;
    font-weight: 700;
}

.user_info{
        /* text-align: center; */
    font-size: 1.26em;
    font-weight: 700;
    /* margin-left: 3%; */
    border: 2px solid black;
    background: rgba(14, 150, 139, 0.41);
    margin: 3%;
}

.user_info input{
    font-size: 1.2em;
    font-weight: 700;
}

.user_info select{
    font-size: 1.2em;
    font-weight: 700;
}

.footer-panel {
    margin-top: 2%;
    text-align: center;
}

.logInForm {
    text-align: center;
    font-size: 2.3em;
    font-weight: 800;
    margin-top: 3%;
}

.logInForm h1{
    
}

.logInForm input{
    
}
