/*@media (max-width: 816px) {
	.personal-data label {
	    width: 100%;
	    display: block;
	    margin: 0px;
	    font-family: serif;
	    font-weight: 900;
	    color: #000;
	    padding-top: 8px;
	    float: left;
	    font-size: 1em;
	    padding-left: 4%;
	    color: #fff;
	    letter-spacing: 1.7px;
	}
*/
